<div class="panel flexcol">
  <h1>{{localize 'Cd100.InvestigatorWizard.TitleCreate'}}</h1>
  <div class="scroll-section">
    <p>{{localize 'Cd100.InvestigatorWizard.CreateInstructions'}}</p>
  </div>
</div>