<div class="panel flexcol">
  <h1>{{localize 'Cd100.InvestigatorWizard.Title'}}</h1>
  <div class="scroll-section">
    <p>{{localize 'Cd100.InvestigatorWizard.Introduction'}}</p>
    {{#if isKeeper}}
      <p>{{localize 'Cd100.InvestigatorWizard.IntroductionKeeper' era=era}}</p>
    {{/if}}
  </div>
</div>